/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Dashboard Layout styles 
-------------------------------------------------- */

#dashboard-body {
    width: 100%;
    display: flex;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 150px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow: hidden; /* Disable  scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; 
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 25px;
    font-size: 36px;
}

.sidenav #openbtn {
    position: fixed;
    top: 0px;
    left: 10px;
    font-size: 36px;
    display: none;
    transition: 0.5s;
}

#logout-btn {
    position: absolute;
    bottom: 0;
}

#nav-logo {
    position: relative;
    height: 100px;
    width: 100px;
    left: 0;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/* Dashboard content styles 
-------------------------------------------------- */

#dash-main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 15%;
}

.dash-col {
    margin-right: 50px;
}

.dash-block {
    height: 400px;
    width: 600px;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid #111;
    background-color: #111;
    color: white;
    box-shadow: 0 3px 10px rgb(0,0,0,0.3);
}

@media screen and (max-width: 790px) {
    .dash-block {
        width: 70%;
        max-height: 300px;
        min-width: 300px;
    }

    .dash-block h1 {
        font-size: 18px;
    }

    #dash-graph {
        margin-top: 0;
        padding-top: 0;
    }
}

#query-submit, #scan-submit {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    margin-bottom: auto;
}

#dash-news, #dash-graph {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

#dash-graph {
    padding-top: 20px;
}



#query-submit h1, #scan-submit h1 {
    text-align: center;
}

#query-submit p, #scan-submit p {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: left;
}

#query-submit input, #scan-submit input {
    float: right;
    margin-right: 0;
    margin-top: 10px;
}

textarea {
    color: dimgrey;
    max-width: 100%;
}

#bar-chart {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

#dash-news {
    position: relative;
    overflow-y: scroll;
    background-color: whitesmoke;
    display: block;
    height: 75%;
}

hr {
    border-top: 2px solid rgba(0,0,0,.15);
    padding-bottom: 0;
    margin-bottom: 0;
}

.news-item {
    position: relative;
    width: 94%;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    color: black;
}

.news-text {
    width: 90%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    position: relative;
    top: 0;
    color: black;
}

/* Alerts styles 
-------------------------------------------------- */

#alerts-table {
    margin-top: 20px;
}

td, th {
    width: 1200px;
    padding: 10px;
    text-align: center;
}


/* Homepage styles 
-------------------------------------------------- */
#home-content {
    margin-top: 5%;
    width: 80%;
}

#logo-img {
    display: block;
    margin: 0 auto;
}

/* Login page styles 
-------------------------------------------------- */
.login-div {
    width: 25%;
    min-width: 300px;
    margin-top: 20px;
    height: 100px;
    border-radius: 5px;
    background-color: lightgray;
}

#login-content {
    margin-top: 10%;
    width: 80%;
}

i {
    position: relative;
    top: 25%;
    left: 10%;
}

#google-icon {
    width: 40px;
    height: 40px;
    position: relative;
    top: 25%;
    left: 10%;
}

#fb-icon {
    color: #4267B2;
}

.login-text {
    position: relative;
    text-align: right;
    margin-right: 20%;

}

#slogan-text {
    font-size: 20px;
    max-width: 700px;
    min-width: 200px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
