@{
    ViewData["Title"] = "Alerts";
    Layout = "_DashboardLayout";
}

<div class="container-fluid">
    <div class="details-container">
        <h1 style="text-align:center; padding-bottom: 5%;">Scan Title</h1>
        <div id="details-header" style="padding-bottom: 10%;">
            <h2 style="float:left;">Summary of Findings</h2>
            <p style="float:right; font-style:italic;">Completed 10/13/21</p>
        </div>
        <p style="clear:both;">
            Bacon ipsum dolor amet turkey capicola ball tip prosciutto, tail short loin pork belly alcatra biltong jowl ground round tenderloin t-bone.
            Tongue burgdoggen bresaola pancetta corned beef tenderloin short loin buffalo ham. Cupim meatball capicola chislic.
            Short loin ball tip pork chop tongue, burgdoggen beef ribs turducken beef buffalo drumstick cupim frankfurter strip steak.
            Tail rump pork chop pork belly salami jowl. Boudin t-bone frankfurter corned beef jowl tri-tip.
            Filet mignon pancetta beef, tail buffalo tri-tip pastrami pig pork chop ground round pork t-bone bacon shank. Landjaeger short ribs strip steak bacon shank meatball.
            Bacon ipsum dolor amet turkey capicola ball tip prosciutto, tail short loin pork belly alcatra biltong jowl ground round tenderloin t-bone.
            Tongue burgdoggen bresaola pancetta corned beef tenderloin short loin buffalo ham. Cupim meatball capicola chislic.
            Short loin ball tip pork chop tongue, burgdoggen beef ribs turducken beef buffalo drumstick cupim frankfurter strip steak.
            Tail rump pork chop pork belly salami jowl. Boudin t-bone frankfurter corned beef jowl tri-tip.
            Filet mignon pancetta beef, tail buffalo tri-tip pastrami pig pork chop ground round pork t-bone bacon shank. Landjaeger short ribs strip steak bacon shank meatball.
        </p>
    </div>
</div>
