body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Homepage styles 
-------------------------------------------------- */
#home-content {
    margin-top: 5%;
    width: 80%;
}

#logo-img {
    display: block;
    margin: 0 auto;
}

#slogan-text {
    font-size: 20px;
    max-width: 700px;
    min-width: 200px;
    margin-top: 6%;
}

/* Homepage Navbar styles
    -----------------------
*/
/*.navbar-nav > li > a {
    margin-right: 20px;
}*/

/* Dashboard Layout styles 
-------------------------------------------------- */

#dashboard-body {
    width: 100%;
    display: flex;
    padding-top: 0px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 150px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow: hidden; /* Disable  scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 25px;
    font-size: 36px;
}

.sidenav #openbtn {
    position: fixed;
    top: 0px;
    left: 10px;
    font-size: 36px;
    display: none;
    transition: 0.5s;
}

#logout-btn {
    position: absolute;
    bottom: 0;
}

#nav-logo {
    position: relative;
    height: 100px;
    width: 100px;
    left: 0;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/* Dashboard content styles 
-------------------------------------------------- */

#dash-main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 15%;
}

.dash-col {
    margin-right: 50px;
}

.dash-block {
    height: 400px;
    width: 600px;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid #111;
    background-color: #111;
    color: white;
    box-shadow: 0 3px 10px rgb(0,0,0,0.3);
}

@media screen and (max-width: 790px) {
    .dash-block {
        width: 70%;
        max-height: 300px;
        min-width: 300px;
    }

        .dash-block h1 {
            font-size: 18px;
        }

    #dash-graph {
        margin-top: 0;
        padding-top: 0;
    }
}

#query-submit, #scan-submit {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    margin-bottom: auto;
}

#dash-news, #dash-graph {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

#dash-graph {
    padding-top: 20px;
}


#query-submit h1, #scan-submit h1 {
    text-align: center;
    padding-bottom: 20px;
}

#query-submit p, #scan-submit p {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
}

#query-submit input, #scan-submit input {
    float: right;
    margin-right: 0;
    margin-top: 10px;
}

textarea {
    color: dimgrey;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
}

#bar-chart {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

#dash-news {
    position: relative;
    overflow-y: scroll;
    background-color: whitesmoke;
    display: block;
    height: 75%;
}

hr {
    border-top: 2px solid rgba(0,0,0,.15);
    padding-bottom: 0;
    margin-bottom: 0;
}

.news-item {
    position: relative;
    width: 94%;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    color: black;
}

.news-text {
    width: 90%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    position: relative;
    top: 0;
    color: black;
}

/* Alerts styles 
-------------------------------------------------- */

#alerts-table, #scans-table, #queries-table {
    margin-top: 20px;
}

td, th {
    width: 1200px;
    padding: 10px;
    text-align: center;
}

/* Detail page styles 
-------------------------------------------------- */
.details-container {
    width: 80%;
    min-width: 300px;
    max-width: 1200px;
    margin-left: 10%;
    margin-top: 10%;
}

@media screen and (max-width: 515px) {
    details-container span {
        float: left;
    }
}
