@{
    ViewData["Title"] = "Register";
}
<div class="container-fluid">
    <div id="login-content" class="row mx-auto">
        <div class="col">
            <div class="login-div mx-auto box-shadow">
                <!--<i class="fa fa-google fa-3x" aria-hidden="true"></i>-->
                <img id="google-icon" src="~/google_icon.png" />
                <div class="login-text">Register with Google</div>
            </div>
            <div class="login-div mx-auto box-shadow">
                <i id="fb-icon" class="fa fa-facebook-square fa-3x"></i>
                <div class="login-text">Register with Facebook</div>
            </div>
            <div class="login-div mx-auto box-shadow">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                <div class="login-text">Register with Github</div>
            </div>
        </div>
    </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>
